*{
    div{
        border: px solid black;
    }
}
.main{
    max-width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/diya.webp");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 30px 30px;

}
.t1{
    position: absolute;
    height: 23px;
    width: 25px;
    left:20px;
    top: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a1{
    height: 20px;
}
.t2{
    position: absolute;
    bottom: 340px;
    left: 30px;
    color: white;
    font-size: 18px;
}
.t3{
    position: absolute;
    bottom: 310px;
    left: 30px;
    font-size: 14px;
    color: white;
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.btm1{
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 5px;
    align-items: center;
}
.b1{
    height: 25px;
    width: 60px;
    border-radius: 20px;
    color: yellow;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
}
.sr1{
    height: 15px;
}
.b2{
    border-radius: 20px;
    color: white;
    height: 25px;
    width: 90px;
    font-size: 13px;
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
}
.b3{
    border-radius: 20px;
    color: white;
    height: 25px;
    width: 70px;
    font-size: 13px;
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
}
.b4{
    border-radius: 20px;
    color: white;
    height: 25px;
    width: 50px;
    font-size: 13px;
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
}
.btm2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.bm1{
    flex: 1;
    font-size: 18px;
    margin: 10px;
}
.bm2{
    flex: 1;
    margin: 10px;
    font-size: 14px;
    color: gray;
}
.btm3{
    flex: 1;
    display: flex;
    align-items: center;
   font-size: 18px;
    margin: 10px;
}

.btm4{
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.l1{
    flex: 1;
    margin: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    padding-left: 20px;
    font-size: 14px;
    color: gray;
}
.l2{
    flex: 1;
    margin: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    padding-left: 20px;
    font-size: 14px;
    color: gray;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.r1{
    flex: 1;
    margin: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    padding-left: 20px;
    font-size: 14px;
    color: gray;
}
.r2{
    flex: 1;
    margin: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    padding-left: 20px;
    font-size: 14px;
    color: gray;
}
.btm5{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.bt1{
    flex: 1;
    font-size: 18px;
    margin: 10px;
}
.bt2{
    flex: 1;
    margin: 10px;
    font-size: 14px;
    color: gray;
}
.bt3{
    flex: 1;
    margin: 10px;
    font-size: 14px;
    color: gray;
}