*{
    div{
        border: 0px solid black;
        font-family: sans-serif;
    }
}
.main{
    max-width: 100%;
    height: 280vh;
    display: flex;
    flex-direction: row;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 1%;
}
.all{
    border: none;
}
.lf1{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    height: 20px;
    padding: 10px;
}
.t1{
    flex: 1;
    display: flex;
    border-radius: 15px;
}
.k1{
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.b1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.a1{
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
}
.a2{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.m1{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.m11{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 60px;
}
.a3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
    align-items: center;
    display: flex;
}
.lf2{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.t2{
    flex: 1;
    border-radius: 15px;
}
.l19{
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.lt1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.c1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.c2{
    flex: 1;
    display: flex;
     flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.m2{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.m22{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 60px;
}
.c3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.lf3{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.t3{
    flex: 1;
    border-radius: 15px;
}
.im2{
   height: 170px;
    width: 100%;
    border-radius: 20px;
}
.lt3{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.e1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.e2{
    flex: 1;
    display: flex;
     flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.m3{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.m33{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
   border-radius: 20px;
    height: 25px;
    width: 60px;
}
.e3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.lf4{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.t4{
    flex: 1;
    border-radius: 15px;
}
.a1{
   height: 170px;
    width: 100%;
    border-radius: 20px;
}
.lt4{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.g1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.g2{
    flex: 1;
    display: flex;
     flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.m4{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.m44{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 70px;
}
.g3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.lf5{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.t5{
    flex: 1;
    border-radius: 15px;
}
.r1{
   height: 170px;
    width: 100%;
    border-radius: 20px;
}
.lt5{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.i1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.i2{
    flex: 1;
    display: flex;
     flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.m5{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.m55{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
   border-radius: 20px;
    height: 25px;
    width: 70px;
}
.i3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: none;
    padding: 5px;
    gap: 1%;
}
.none{
    border: none;
}
.rt1{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.rb1{
    flex: 1;
    border-radius: 15px;
}
.j1{
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.rb2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.r1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.r2{
    flex: 1;
    display: flex;
     flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.b11{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.b2{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 60px;
}
.r3{
    flex: 1;
    color: white;
    border: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.o1{
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.rt2{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.rb3{
    flex: 1;
    border-radius: 15px;
}
.rb4{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.d1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.d2{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.b22{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.b0{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 60px;
}
.d3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.rt3{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.rb5{
    flex: 1;
    border-radius: 15px;
}
.p1{
   height: 170px;
    width: 100%;
    border-radius: 20px;
}
.rb6{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.f1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.f2{
    flex: 1;
    display: flex;
     flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.b4{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.b44{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
   border-radius: 20px;
    height: 25px;
    width: 60px;
}
.f3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.rt4{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.rb7{
    flex: 1;
    border-radius: 15px;
}
.a2{
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.rb8{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.h1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.h2{
    flex: 1;
    display: flex;
     flex-wrap: wrap;
     padding-bottom: 5px;
    gap: 10%;
    padding-bottom: 10px;
}
.b5{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
   border-radius: 20px;
    height: 25px;
    width: 90px;
}
.b55{
   background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
   border-radius: 20px;
    height: 25px;
    width: 60px;
}
.h3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}
.rt5{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
.rb9{
    flex: 1;
    border-radius: 15px;
}
.n1{
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.rb10{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.j1{
    flex: 1;
     display: flex;
    align-items: center;
    color: white;
}
.j2{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding-bottom: 10px;
}
.b6{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 90px;
}
.b66{
    background: linear-gradient(to right,rgb(72, 0, 255),rgb(169, 21, 171));
    color: white;
    border-radius: 20px;
    height: 25px;
    width: 60px;
}
.j3{
    flex: 1;
    color: white;
    border-radius: 10px;
    font-size: small;
    color: grey;
     align-items: center;
    display: flex;
}